:root {
  --app-background-color: #fff;
  --on-background-color: #1D1D1B;
  --primary-color: #F7931E;
  --highlight-color: var(--on-background-color);
  --primary-text-color: #F7931E;
  --secondary-text-color: #1D1D1B;
  --accent-text-color: var(--on-background-color);
  --error-color: #ef5350;
}

[theme="dark"] {
  --app-background-color: #1D1D1B;
  --on-background-color: #fff;
  --primary-color: #F7931E;
  --highlight-color: var(--on-background-color);
  --primary-text-color: #F7931E;
  --secondary-text-color: #1D1D1B;
  --accent-text-color: var(--on-background-color);
  --error-color: #ef5350;}

[theme="light"] {
  --app-background-color: #fff;
  --on-background-color: #1D1D1B;
  --primary-color: #F7931E;
  --highlight-color: var(--on-background-color);
  --primary-text-color: #F7931E;
  --secondary-text-color: #1D1D1B;
  --accent-text-color: var(--on-background-color);
  --error-color: #ef5350;
}
